.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
scripts/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.tests/**
\.env
assets/examples/
crowdin.yml
.opencode
