.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
scripts/**
.gitignore
.github/**
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.tests/**
\.env
\.env.*
assets/examples/
crowdin.yml
biome.json
bun.lock
bun.lockb
.opencode
